<h1> HELLO THERE, ITS A QUESTION</h1>

<% @question.each do |question| %>
  <h2><%= question.title %></h2>

  <time datetime="<%= question.formatted_created_at %>">
    <%= question.formatted_created_at %>
  </time>

  <p>
<%= question.body %>
</p>
<% end %>